@import "entry.scss";
@import "entry-confirm";
@import "entry-complete";
@import "recruit";
@import "./components";

@import "./admin/admin-login";
@import "./admin/admin-entries";
@import "./admin/admin-entries-edit";
@import "./admin/admin-recruits-edit";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root{
  height: 100%;
}